In [150]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 忽略警告
import warnings
warnings.filterwarnings("ignore")

# notebook全部内容输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 正常显示负号字符
plt.rcParams['axes.unicode_minus'] = False 
# Mac 显示中文
plt.rcParams["font.family"] = 'Heiti TC'
 
# 运行这句命令会在notebook中启动静态图形
%matplotlib inline

In [151]:
Dstars= pd.read_csv('dallasStars.csv')
#Dstars['tkt+con']= Dstars['ticket'] + Dstars['concession']
Dstars['id']= Dstars['id'].astype('object')
#define a func to calculate profit
def cal_con(x):
    if x.offer == 'control':
        return x.concession
    elif x.offer == 'drink':
        return x.concession - 2
    else:
        return x.concession - 6

Dstars['profit_con'] = Dstars.apply(cal_con, axis=1)

In [152]:
Dstars

                  id    offer  responded  ticket  concession  profit_con
0      2327543.31571  control          0       0        0.00        0.00
1     2860619.498184  control          0       0        0.00        0.00
2     3864266.816759  control          0       0        0.00        0.00
3     5541038.949974  control          1     157       17.46       17.46
4     2008409.655187  control          0       0        0.00        0.00
...              ...      ...        ...     ...         ...         ...
1495  4364304.134157    drink          0       0        0.00       -2.00
1496  5821028.454462    drink          1     219       11.86        9.86
1497  5408694.260055    drink          1     182        8.86        6.86
1498  5808823.434869    drink          1     180        9.36        7.36
1499  3323465.928202    drink          0       0        0.00       -2.00

[1500 rows x 6 columns]

In [153]:
profit_tkt_df= Dstars[Dstars['responded']== 1].groupby('offer')['ticket'].mean().reset_index()
profit_con_df= Dstars[Dstars['responded']== 1].groupby('offer')['profit_con'].mean().reset_index()
res_rate_df= pd.DataFrame(Dstars.groupby('offer')['responded'].sum()/ 500).reset_index()

In [154]:
df= pd.merge(res_rate_df,profit_tkt_df)
df= pd.merge(df,profit_con_df )
df['total_profit']= 1500 * df['responded'] * (df.ticket + df.profit_con) - 1500
df

     offer  responded      ticket  profit_con  total_profit
0  control      0.190  129.210526   19.874316      40989.18
1    drink      0.228  189.140351   12.194211      67356.42
2     food      0.304  138.828947    2.015461      62725.05

In [160]:
df['total_prof']  = df.ticket + df.profit_con

In [161]:
df

     offer  responded      ticket  profit_con  total_profit  total_prof
0  control      0.190  129.210526   19.874316      40989.18  149.084842
1    drink      0.228  189.140351   12.194211      67356.42  201.334561
2     food      0.304  138.828947    2.015461      62725.05  140.844408

In [166]:
1888.06/12275
1618.14/21562
1218.35/21102

0.15381344195519348

0.07504591410815324

0.05773623353236659

In [164]:
2/138

0.014492753623188406

In [142]:
(67356.42- 40989.18)/40989.18

0.6432731759942502

In [143]:
((189.140351+ 12.194211)-(129.210526 +19.874316 ))/(129.210526 +19.874316 )

0.35046970100421093

In [155]:
Dstars.to_csv('Dstars_new.csv', index=False)

In [156]:
Dstars.dtypes

id             object
offer          object
responded       int64
ticket          int64
concession    float64
profit_con    float64
dtype: object